* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.header {
    background-color: black;
    color: white;
    height: 38px;
    position: relative;
}


.header__probar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__probar--close {
    position: absolute;
    right: 80px;
    top: 10px;

}

.header__probar p {
    font-size: 12px;
    font-weight: 400;
}

.header__probar span a {
    color: white;
    text-decoration: underline;
    font-size: 14px;

}

.header__probar--close button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;

}


.header__nav {
    width: 28.66%;
    height: 22px;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;

}

.header__nav a {
    position: relative;
    transition: color 0.3s ease;
}

.header__nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

.header__nav a:hover {
    color: #000000;
}

.header__nav a:hover::after {
    width: 100%;
}


.header__search {
    width: 577px;
    height: 48px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 62px;
}

.header__search img {
    margin-right: 10px;
}

.header__search input {
    border: none;
    background-color: #f0f0f0;
    outline: none;
    width: 100%;
}

.header__link {
    width: 5%;
    height: 24px;
    display: flex;
    gap: 10px;

}


.nav__item {
    width: 20.7%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
}

.nav__item span {
    position: absolute;
    top: 4px;
    right: 2px;
}

.header__hamberger {
    display: none;
}

.icon1 {
    display: none;
}

.nothing {
    width: 100%;
    padding: 0 100px;
}

.nothing::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #bebebe;
}


main {
    margin-top: 100px;
    height: auto;
    padding: 0 100px;
}

.smallnav {
    width: 30.45%;
    height: 22px;
    display: flex;
    gap: 9px;
    font-size: 16px;
}

.smallnav a {
    text-decoration: none;

}

.smallnav__home {
    color: #A9A9A9;
}

.smallnav__homes {
    color: #000000;
}

.container {

    height: 566px;
    width: 100%;
    margin-top: 36px;
}

.container__small {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    width: 11.50%;
}

.container {
    display: flex;
    gap: 20px;

}

.container__large {
    width: 32.5%;
    height: 100%;
}

.contents {
    height: 100%;
    flex: 1;

    padding: 10px 0;
    margin-left: 10px;
}

.contents h1 {
    font-size: 40px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.container__large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.rating {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 14px;
}

.point {
    color: #808080;
}

.price {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 14.29px;

}

.price>span {
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
}

.price del {
    color: #808080;
}

.discount {
    background-color: #FFE6E6;
    color: #ff0000;
    padding: 6px 14px;
    border-radius: 62px;
}

.contents p {
    font-size: 16px;
    font-weight: 400;
    color: #606060;
    line-height: 22px;
    width: 87%;
    margin-top: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.price__new {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}


.colors {

    margin-top: 24px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
}

.colors span {
    font-size: 16px;
    font-weight: 400;
    color: #606060;
}

.colors img {
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 50%;
}

.colors img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px #606060;
}

.selectsize {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #D3D3D3;
}

.selectsize span {
    font-size: 16px;
    font-weight: 400;
    color: #606060;
}

.sizes {
    display: flex;
    gap: 12px;
}

.size {
    font-size: 16px;
    font-weight: 400;
    color: #606060;
    padding: 12px 24px;
    background-color: #f0f0f0;
    border-radius: 62px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.size:hover {
    background-color: #000000;
    color: #bebebe;
}

.addtocart {
    display: flex;
    gap: 20px;
    margin-top: 34px;
}

.conten {
    display: flex;
    gap: 38px;
    align-items: center;
    background-color: #f0f0f0;
    padding: 16px 20px;
    border-radius: 62px;
    ;
}

.conten img {
    cursor: pointer;
}

.button {
    width: 72.1%;
    height: 52px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 62px;
    background-color: #000000;
    color: #f0f0f0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.02);
}

.container__small img {
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.container__small img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px #606060;
}

.reviews {
    margin-top: 80px;
    height: auto;
}

.tabs {
    width: 100%;
    display: flex;
    gap: 180px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;

    border-bottom: 1px solid #D3D3D3;

}

.tab {
    display: inline-block;
    padding-bottom: 24px;
}

.tab2 {

    padding: 0 130px 24px 129px;
    border-bottom: 2px solid #000000;
}

.tab3 {
    margin-right: 100px;
}

.filters {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter__right {
    display: flex;
    gap: 10px;
    width: 35%;
}

.filters__text {
    font-size: 24px;
    font-weight: 700;
}

.filters__text span {
    font-size: 16px;
    font-weight: 400;
    color: #606060;
}

.filter1 {
    background-color: #f0f0f0;
    padding: 16px 20px;
    border-radius: 62px;
    cursor: pointer;
}
