* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.header {
    background-color: black;
    color: white;
    height: 38px;
    position: relative;
}

.header__probar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__probar p {
    font-size: 12px;
    font-weight: 400;
}

.header__probar span a {
    color: white;
    text-decoration: underline;
    font-size: 14px;
}

.header__probar--close {
    position: absolute;
    right: 80px;
    top: 10px;
}

.header__probar--close button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
}

.header__logo img {
    display: block;
}

.header__nav {
    width: 28.66%;
    height: 22px;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
}

.header__nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

.header__nav a:hover::after {
    width: 100%;
}

.nav__item {
    width: 20.7%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
}

.nav__item span {
    position: absolute;
    top: 4px;
    right: 2px;
}

.header__search {
    width: 577px;
    height: 48px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 62px;
}

.header__search img {
    margin-right: 10px;
}

.header__search input {
    border: none;
    background-color: #f0f0f0;
    outline: none;
    width: 100%;
}

.header__link {
    width: 5%;
    height: 24px;
    display: flex;
    gap: 10px;
}

.icon1 {
    display: none;
}

.header__hamberger {
    display: none;
}

.nothing {
    width: 100%;
    padding: 0 100px;
}

.nothing::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #bebebe;
}

main {
    padding: 0 100px;
    margin-top: 120px;
}

.breadcum {
    width: 100%;
    display: flex;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
}

.breadcum a {
    text-decoration: none;

}

.breadcum__home {
    color: #808080;
}

.breadcum__cart {
    color: #000000;
}

.container {
    height: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container h1 {
    font-size: 40px;
    font-weight: 700;
}

.subcontain {
    height: auto;
    display: flex;
    gap: 20px;

}

.subcontain__left {
    width: 57.66%;
    height: auto;
    border-radius: 20px;
    border: 1px solid #d3d3d3;
}

.subcontain__right {
    width: 40.73%;
    height: 458px;


}

.left__item {
    height: 124px;
    margin: 20px 24px 24px 24px;
    
    display: flex;
    gap: 16px;

}

.item__contents {
    width: 86.01%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__up {
    display: flex;
    justify-content: space-between;
    height: 71px;
    align-items: flex-start;
}

.text {
    height: 71px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.text h3 {
    font-size: 20px;
    font-weight: 700;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text span {
    font-size: 14px;
    font-weight: 400;
}

.modifier {

    color: #808080;

}

.content__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__down .price {
    font-size: 24px;
    font-weight: 700;
}

.quantiy {
    height: 44px;
    width: 23.9%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 62px;
}

.nothingsx {
    width: 100%;
    padding: 0 24px;
}

.nothingsx::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #bebebe;
}

.wraps {
    padding: 20px 24px 33px 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
}

.numbers {
    height: 193px;
   
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row1 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.texts {
    font-size: 20px;
    font-weight: 400;
    color: #808080;
}

.prices {
    font-weight: 700;
}

.negative__price {
    color: #ff0000;
}

.nothing2 {
    height: 1px;
    background: #d3d3d3;
    width: 100%;
}

.total {
    color: #000000;
}

.giaTong {
    font-size: 24px;
}

.promote {
    display: flex;
    gap: 12px;
}

.inputofpromo {
    height: 48px;
    width: 71.45%;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 62px;
    padding-left: 16px;
    gap: 12px;
}
.inputofpromo input {
    border: none;
    background-color: #f0f0f0;
    outline: none;
    width: 95%;
}
.apply{
    height: 48px;
    width: 26.1%;
    border-radius: 62px;
    border: none;
    background-color: #000000;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.apply:hover{
    transform: scale(1.05);
}

.checkout{
    width: 100%;
    height: 60px;
    outline: none;
    border: none;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 62px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.checkout:hover{
    transform: scale(1.05);
}
.minus ,.bonus{
    cursor: pointer;
}
    .delete{
    cursor: pointer;
    transition: transform 0.3s ease;
    }
    .delete:hover{
    transform: scale(1.2);
    }