* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.header {
    background-color: black;
    color: white;
    height: 38px;
    position: relative;
}


.header__probar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__probar--close {
    position: absolute;
    right: 80px;
    top: 10px;

}

.header__probar p {
    font-size: 12px;
    font-weight: 400;
}

.header__probar span a {
    color: white;
    text-decoration: underline;
    font-size: 14px;

}

.header__probar--close button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;

}


.header__nav {
    width: 28.66%;
    height: 22px;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;

}

.header__nav a {
    position: relative;
    transition: color 0.3s ease;
}

.header__nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

.header__nav a:hover {
    color: #000000;
}

.header__nav a:hover::after {
    width: 100%;
}


.header__search {
    width: 577px;
    height: 48px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 62px;
}

.header__search img {
    margin-right: 10px;
}

.header__search input {
    border: none;
    background-color: #f0f0f0;
    outline: none;
    width: 100%;
}

.header__link {
    width: 5%;
    height: 24px;
    display: flex;
    gap: 10px;
}


.nav__item {
    width: 20.7%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
}

.nav__item span {
    position: absolute;
    top: 4px;
    right: 2px;
}

/* main */
main {
    margin-top: 89px;
    height: 100%;
}

.container {
    background-color: #F5F5F5;
    height: 785px;
}

.container__introduction {
    height: 84%;
    background-image: url('./img/Rectangle\ 2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;


}

.container__introduction--text {
    width: 57%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 103px 100px 116px 100px;
    gap: 48px;

}

.container__text h1 {
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    width: 87%;

}

.container__text p {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    width: 87%;
    color: #000000;

}

.container__text {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.container__text button {
    width: 32%;
    height: 52px;
    background-color: #000000;
    color: #f0f0f0;
    border-radius: 5em;
}

.container__text button a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: 500;
    font-size: 16px;
}

.container__quality {
    display: flex;
    width: 90%;
    justify-content: space-between;

}

.container__quality div {
    display: flex;
    flex-direction: column;

}

.item__number {
    font-weight: 700;
    font-size: 40px;
}

.item__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.quality__item--between {
    padding: 0 40px;
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
}

.introduction__icon1 {
    position: absolute;
    right: 44%;
    top: 47%;
}

.introduction__icon2 {
    position: absolute;
    right: 8%;
    top: 12%;
}

.container__brands {
    height: 16%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.box {

    height: 731.3px;
    margin-top: 72px;
    padding: 0 100px;

}

.box3 {
    height: 400px;
}


.box__heading {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    padding-bottom: 55px;
}

.containcard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.containcard__card {
    width: calc((100% - 60px) / 4);
    display: flex;
    flex-direction: column;
    gap: 13px;


}

.card1,
.card2,
.card5,
.card6,
.card7 {
    margin: 4px 0;
}


.containcard__card h3 {
    font-size: 20px;
}

.card__price {
    font-size: 24px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
}

.container__price {
    display: flex;
    gap: 12px;
    align-items: center;

}

.card__price del {
    color: #BEBEBE
}

.card__discount {
    color: #FF3333;
    padding: 6px 14px;
    background-color: #FFE6E6;
    border-radius: 5em;

}

.clothes {
    text-decoration: none;
    color: #000000;

}

.clothes img {
    width: 100%;

}

.box__button {
    width: 16%;
    height: 52px;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 900;
    border-radius: 5em;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    border: 1px solid #BEBEBE;
    margin-top: 37px;
}

.box__undeline {
    width: 100%;
    height: 1px;
    background-color: #BEBEBE;
    margin-top: 64px;
}

.header__hamberger {
    display: none;
}

.icon1 {
    display: none;
}

.box2 {
    height: 1056px;
    padding: 0 100px;

}

.contain {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3%;
    margin-top: -2%;


}

.contain__img {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.contain__img img {
    width: calc(100% - 80px) / 2;

    border-radius: 3%;
}

.img2 {
    width: 55%;
}

.img1 {
    width: 40%;
}


.img3 {
    width: 55%;
}

.img4 {
    width: 40%;
}

.contain__heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 40px;
}

.style-item {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.style-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
}


.style-label {
    position: absolute;
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    top: 10%;
    left: 10%;

}

.boxn {
    margin-top: 0px;
}

.box3 {

    margin-top: 80px;
}

.box3__container {
    width: 100%;

    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}

.box3__container .container__heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 40px;
}

.container__arrows {
    margin-top: 26px;
    display: flex;
    align-self: start;
    justify-content: flex-end;
    gap: 16px;
    width: 8%;

}


.outner__content h3 {
    display: inline-block;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.outner__content {
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 14px;
}

.outner__content>div {
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 28px;
}


.outner {
    min-width: 420px;
    height: 279px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #E0E0E0;

}

.outner__content {
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.outner__content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
}
